aiohttp
chromadb
fastapi
Flask
Jinja2
langchain
langchain-community
langchain-core
langchain-openai
langchainhub
langsmith
python-dotenv 
PyPDF2
python-dotenv
faiss-cpu
huggingface-hub
transformers
sentence_transformers